body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Okra, Helvetica, sans-serif;
}

.bg-img {
    background-image: url("https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png");
    height: 570px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container{
    box-shadow: rgb(232 232 232) 0px -0.5px 0px inset;
}
.navbare{
    width: 100%;
    max-width: 100%;
    display: block;
    position: absolute;
    height: 7.2rem;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    top: 0%;
    transition: opacity 0.25s linear 0s, height 0.56s cubic-bezier(0.52, 0.16, 0.24, 1) 0s;
    background-color: transparent;
}
.navele{
    width: 100%;
    max-width: 90rem;
    padding-right: 0px;
    margin: 0px auto;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 4;
}
.ul-ele{
    width: 100%;
    list-style: none;
    max-width: 100%;
    height: 72px;
    flex-wrap: nowrap;
    background: transparent;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    user-select: none;
    opacity: 1;
    padding: 1.7rem 0px;
    margin: 0px;
    transition: opacity 0.25s linear 0s, visibility 0.25s linear 0s, height 0.25s cubic-bezier(0.52, 0.16, 0.24, 1) 0s;
    transition-duration: 0.25s, 0.25s, 0.25s;
    transition-timing-function: linear, linear, cubic-bezier(0.52, 0.16, 0.24, 1);
    transition-delay: 0s, 0s, 0s;
    transition-property: opacity, visibility, height;
}
.list-nav{
    padding-bottom: 0px;
    border-radius: 0px;
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 0px 0px 0.2rem;
}
.list-ele{
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    text-decoration: none;
    font-weight: 300;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 0.6rem;
    vertical-align: middle;
    padding: 0.8rem !important;
}
.logo{
    width: 19%;
    margin-left: 40%;
    margin-top: 15%;
}
.caption{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: aliceblue;
    font-size: 2.2rem;
    font-weight: 200;
}

.heading{
    text-align: center;
    justify-content: center;
    display: flex;
}
#flag{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 2.3rem;
}
.flag-img{
    width: 50px;
}

.description{
    text-align: center;
    justify-content: center;
    font-family: Okra, Helvetica, sans-serif;
    font-size: 1.3rem;
    opacity: .6;
    display: flex;
    padding-left: 22%;
    padding-right: 22%;
    line-height: 1.5;
}

.restaurants{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.colum{
    padding: 2%;
    position: relative;
}
.btn a{
    text-decoration: none;
}

.btn{
    font-family: 'Poppins', sans-serif;
    padding: 2rem 2rem;
    border-radius: 0.8rem;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(226, 226, 226);
    margin-bottom: 1.5rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
}

.button-style{
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    color: rgb(28, 28, 28);
    margin: 0px;
}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(40, 39, 39, 0.24),0 17px 50px 0 rgba(49, 46, 46, 0.19);
}
.flag-name{
    color: black;
}


footer{
    width: 100%;
    background: rgb(248, 248, 248);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.footer{
    padding-top: 4.8rem;
    padding-right: 2.4rem;
    padding-bottom: 2.2rem;
    padding-left: 2.4rem;
}
.foot-logo{
    padding-left: 6%;
    width: 10rem;
}
.foot-header{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 4rem;
}
.footer-nav{
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.about{
    max-width: 18.3333%;
    padding: 0px;
}
h6{
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px 0px 1.2rem;
}
.icon{
    width:100px;
    position: relative;
    float: left;
}
a{
    text-decoration: none;
}

.about{
    max-width: 18.3333%;
    padding: 0px;
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.zomaverse{
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 19.1667%;
    padding: 0px;
}
.two-div{
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 25%;
    padding: 0px;
}

.learn-more{
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 16.6667%;
    padding: 0px;
}
.social-media{
    position: relative;
    width: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 18.3333%;
    padding: 0px;
    display: flex;
    flex-direction: column;

}
.conclusion{
    justify-content: center;
    font-size: 1.3rem;
    color: rgb(79, 79, 79);
    line-height: 1.7rem;
    margin-top: 2.3rem;
}
.test{
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.test{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}